Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: fedora-latest-1vcpu

Revert "Remove netcommon vyos jobs"
  zuul.d/projects.yaml
Due: none

Add nxos jobs
  zuul.d/projects.yaml
Due: none

add ibm.qradar collection to zuul
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

add ansible-collections-security-ibm-qradar template to ibm.qradar project
  zuul.d/projects.yaml
Due: none

introduce base-minimal-with-aws-session
  playbooks/base-minimal-with-aws-session/pre.yaml
  playbooks/workshops/run.yaml
  zuul.d/jobs.yaml
Due: none

introduce base-with-aws-session
  playbooks/base-minimal-with-aws-session/pre.yaml
  playbooks/workshops/run.yaml
  zuul.d/jobs.yaml
Due: none

Add back unit testings for network collections
  zuul.d/projects.yaml
Due: none

Add periodic-weekly pipeline
  zuul.d/pipelines.yaml
Due: none

add ansible-collections-security-ibm-qradar to qradar
  zuul.d/projects.yaml
Due: none

add ansible-collections/splunk.enterprise_security
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Remove py35 jobs from ansible-lint
  zuul.d/projects.yaml
Due: none

rename splunk.enterprise_security ⭢ splunk.es
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

add project config for splunk.es
  zuul.d/projects.yaml
Due: none

Remove ansible-collection-migration/ansible-base
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Expire swift logs after 3 months
  playbooks/base-minimal-test/post-logs.yaml
Due: none

Promote base-minimal-test changes
  playbooks/base-minimal/post-logs.yaml
Due: none

Enable Galaxy publish for c.general
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

non-gate community.general
  zuul/tenants.yaml
Due: windmill-config-deploy

Add non-gated c.general Collection publish
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Eanble zuul_log_path_shard_build for base-minimal-test
  playbooks/base-minimal-test/post-logs.yaml
Due: none

Set zuul-log-path before upload-logs-swift role
  playbooks/base-minimal-test/post-logs.yaml
Due: none

Refactor release ansible-collection jobs
  playbooks/ansible-collection/post.yaml
  playbooks/ansible-collection/run.yaml
Due: none

Add ansible/galaxy-importer to zuul tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

Validate collections with galaxy-importer
  playbooks/build-ansible-collection/run.yaml
Due: none

ensure all github projects have correct template
  tools/zuul-projects-checks.py
  zuul.d/projects.yaml
Due: none

Activate venv for galaxy-importer
  playbooks/build-ansible-collection/run.yaml
Due: none

splunk: enable ansible-collections-security-splunk-es
  zuul.d/projects.yaml
Due: none

Community tenants
  zuul/tenants.yaml
Due: windmill-config-deploy

Add EducationSwing/zuul-test repo for testing
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Partial Revert "ensure all github projects have correct template"
  tools/zuul-projects-checks.py
Due: none

Add EducationSwing/zuul-test jobs
  zuul.d/projects.yaml
Due: none

ansible-builder: Add new project job definitions
  zuul.d/projects.yaml
Due: none

ansible-builder: Adding ansible builder under zuul umbrella
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Set merge-mode on ansible-collections namespace
  zuul.d/projects.yaml
Due: none

ansible-builder: Add publish-to-pypi job
  zuul.d/projects.yaml
Due: none

qradar: enable functional tests
  zuul.d/projects.yaml
Due: none

Add ansible-collections-frr-frr-units to frr.frr
  zuul.d/projects.yaml
Due: none

install collection deps before import test
  playbooks/build-ansible-collection/run.yaml
Due: none

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
