Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml

add publish-to-galaxy tpl to vmware_rest
  zuul.d/projects.yaml
Due: none

add publish-to-galaxy tpl to vmware projects
  zuul.d/projects.yaml
Due: none

workshops: Increase integration job timeout
  zuul.d/jobs.yaml
Due: none

Switch base-minimal nodeset to centos-8
  zuul.d/jobs.yaml
Due: none

workshops: Remove the setup tox role task
  playbooks/workshops/run.yaml
Due: none

workshops: Make unittests ansible-workshops-tox-integration parent
  zuul.d/jobs.yaml
Due: none

workshops: Enable EPEL on base node
  playbooks/workshops/pre.yaml
  zuul.d/jobs.yaml
Due: none

workshops: Introduce new bindep epel profile
  playbooks/workshops/pre.yaml
Due: none

workshops: Have the change ID available in tox env
  playbooks/workshops/run.yaml
Due: none

workshops: Extend timeout for workshops jobs
  zuul.d/jobs.yaml
Due: none

Begin rename of ansible-collections/asa
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Touch github/projects.yaml
  github/projects.yaml
Due: project-config-tox-github

Enable ansible-collections/cisco.asa jobs
  zuul.d/projects.yaml
Due: none

Begin rename of ansible-collections/netcommon
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

ara_report_executable: use the ara venv
  zuul.d/jobs.yaml
Due: none

Enable ansible-collections/ansible.netcommon jobs
  zuul.d/projects.yaml
Due: none

Rename ansible-collections/eos
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable arista.eos jobs
  zuul.d/projects.yaml
Due: none

Update for amazon.aws and ibm.qradar collections
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable jobs for ibm.qradar collection
  zuul.d/projects.yaml
Due: none

Configure ansible-lint jobs
  zuul.d/projects.yaml
Due: none

Rename ansible-collections/vyos
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable ansible-collections/vyos.vyos jobs
  zuul.d/projects.yaml
Due: none

Rename ansible-collections/ios
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable ansible-collections/cisco.ios jobs
  zuul.d/projects.yaml
Due: none

Rename ansible-collections/junos
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable jobs for ansible-collections/junipernetworks.junos
  zuul.d/projects.yaml
Due: none

Rename ansible-collections/openvswitch
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable ansible-collections/openvswitch.openvswitch jobs
  zuul.d/projects.yaml
Due: none

Rename ansible-collections/iosxr
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable ansible-collections/cisco.iosxr jobs
  zuul.d/projects.yaml
Due: none

Begin rename for ansible-collections/frr
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable ansible-collections/frr.frr jobs
  zuul.d/projects.yaml
Due: none

Add all network collections jobs to ansible.netcommon
  zuul.d/projects.yaml
Due: none

Introduce: ansible/galaxy-api
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

galaxy-api: Run linte jobs as third-party CI
  zuul.d/projects.yaml
Due: none

Prepare rename of ansible-collections/nxos
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable ansible-collections/cisco.nxos jobs
  zuul.d/projects.yaml
Due: none

Partial revert of ansible.netcommon jobs
  zuul.d/projects.yaml
Due: none

Remove netcommon vyos jobs
  zuul.d/projects.yaml
Due: none
