Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-changelog-fragment, project-config-tox-github, windmill-config-deploy

ansible-changelog-fragment:
  description: Ensure PRs have generated changelog fragments.
  run: playbooks/ansible-changelog-fragment/run.yaml
  nodeset:
    nodes: []

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: centos-8-stream

migrate ansible-network/network-runner
  zuul.d/projects.yaml
Due: none

ansible/ansible: remove the runner jobs
  zuul.d/projects.yaml
Due: none

frr.frr is on SF now
  zuul.d/projects.yaml
Due: none

community.*: disable publish-to-galaxy-3pci
  zuul.d/projects.yaml
Due: none

move more jobs on SF
  zuul.d/projects.yaml
Due: none

add ansible/python-{base,builder}-image
  zuul.d/projects.yaml
Due: none

disable community.okd
  zuul.d/projects.yaml
Due: none

ansible.windows: set the noop-jobs template
  zuul.d/projects.yaml
Due: none

ansible.utils is on SF now
  zuul.d/projects.yaml
Due: none

Add ansible-collections-ansible-netcommon project template
  zuul.d/projects.yaml
Due: none

Removed ansible-collections-juniper-junos-netcommon template
  zuul.d/projects.yaml
Due: none

Remove nxos unit tests from netcommon runs
  zuul.d/projects.yaml
Due: none

we now use SF to push the releases
  zuul.d/projects.yaml
Due: none

set noop-jobs template to some migrated projects
  zuul.d/projects.yaml
Due: none

ansible-builder: don't source the .zuul.d/ config dir
  zuul/tenants.yaml
Due: windmill-config-deploy

Add ansible.plugin_builder to Zuul
  github/acls/ansible-collections/ansible.plugin_builder.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Sort alphabetically
  github/projects.yaml
Due: project-config-tox-github

Sort alphabetically again
  zuul/tenants.yaml
Due: windmill-config-deploy

cloud.common: apply noop-jobs template
  zuul.d/projects.yaml
Due: none

Update plugin_builder references
  github/acls/ansible-community/ansible.plugin_builder.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Alphabetize
  github/projects.yaml
Due: project-config-tox-github

Add check
  github/acls/ansible-community/ansible.plugin_builder.config
Due: none

No navigator
  github/acls/ansible/ansible-navigator.config
Due: none

zuul/tenants.yaml: add community.lbry
  zuul/tenants.yaml
Due: windmill-config-deploy

zuul.d/projects.yaml: add community.lbry
  zuul.d/projects.yaml
Due: none

Add plugin_builder
  zuul.d/projects.yaml
Due: none

Add new template
  zuul.d/projects.yaml
Due: none

Add ansible-community-ansible-plugin-builder
  zuul.d/projects.yaml
Due: none

adding ansible-network / ansible_content_collections_metrics to project.yaml
  zuul.d/projects.yaml
Due: none

Revert "adding ansible-network / ansible_content_collections_metrics to project.yaml"
  zuul.d/projects.yaml
Due: none

added ansible-network / ansible_content_collections_metrics to projects.yml
  zuul.d/projects.yaml
Due: none

Update projects.yaml
  zuul.d/projects.yaml
Due: none

added ansible-network / ansible_content_collections_metrics in projects.yaml
  zuul.d/projects.yaml
Due: none

Revert "Update jobs.yaml"
  zuul.d/jobs.yaml
Due: none

Path conditions:
  ansible-changelog-fragment: any of: ^plugins/.*$, ^tests/.*$
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
