Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml

Fix syntax issue with post-run playbook
  playbooks/propose-github-updates/post.yaml
Due: none

Cap git-pull-request to 3.0.0
  playbooks/propose-github-updates/post.yaml
Due: none

Use cat to create commit messages
  playbooks/propose-github-updates/post.yaml
Due: none

Only run git-pull-request for jobs that are successful
  playbooks/propose-github-updates/post.yaml
Due: none

Add ansible-network/ansible_collections.network.netconf to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add jobs to network.netconf collection
  zuul.d/projects.yaml
Due: none

Remove network.netconf integration jobs
  zuul.d/projects.yaml
Due: none

Add junos-netconf integration jobs to netconf collection
  zuul.d/projects.yaml
Due: none

Add retry handler to swift upload logs role
  playbooks/base-minimal-test/post-logs.yaml
Due: none

Promote base-minimal-test changes
  playbooks/base-minimal/post-logs.yaml
Due: none

Partitions swift containers for logs
  playbooks/base-minimal-test/post-logs.yaml
Due: none

Add ansible-collections-cisco-iosxr-netconf to network.netconf
  zuul.d/projects.yaml
Due: none

Experiment using rackspace DFW for swift logs
  playbooks/base-minimal-test/post-logs.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

No log on upload-logs-swift
  playbooks/base-minimal-test/post-logs.yaml
  zuul.d/secrets.yaml
Due: none

Add more regions for rackspace swift
  playbooks/base-minimal-test/post-logs.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Add back vexxhost for primary log location
  playbooks/base-minimal-test/post-logs.yaml
Due: none

Promote base-minimal-test changes
  playbooks/base-minimal/post-logs.yaml
  zuul.d/jobs.yaml
Due: none

Add periodic-6hr pipeline
  zuul.d/pipelines.yaml
Due: none

Add ansible-network/ansible_collections.cisco.nxos to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add linting jobs to cisco.nxos collection
  zuul.d/projects.yaml
Due: none

Add metal3-io/metal3-dev-env project for testing
  zuul/tenants.yaml
Due: windmill-config-deploy

Add pabelanger/pabelanger-sandbox1 to zuul
  zuul/tenants.yaml
Due: windmill-config-deploy

Add example 3pci-check pipeline
  zuul.d/pipelines.yaml
Due: none

Add noop jobs to pabelanger/pabelanger-sandbox1
  zuul.d/projects.yaml
Due: none

Allow ansible-bender to load intree zuul.yaml files
  zuul/tenants.yaml
Due: windmill-config-deploy

Add ansible-security/ids_config to zuul ansible tenant
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add noop-jobs to ansible-security/ids_config
  zuul.d/projects.yaml
Due: none

add ids_install from ansible-security
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add linter jobs to ansible-security/ids_config
  zuul.d/projects.yaml
Due: none

remove ids_install from projects until it's merged as a tenant
  zuul.d/projects.yaml
Due: none

add ansible-security/ids_install to projects
  zuul.d/projects.yaml
Due: none

Remove noop jobs from ansible-security/ids_install
  zuul.d/projects.yaml
Due: none

add ansible-security/ids_rule tenant and github project
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Fix new linting error with yamllint
  .yamllint
Due: none

fix missing --- in .yammlint
  .yamllint
Due: none

Revert "fix missing --- in .yammlint"
  .yamllint
Due: none

Add galaxy_dev_secret secret
  zuul.d/secrets.yaml
Due: none

First attempt at release-ansible-galaxy-collection job
  playbooks/ansible-collection/pre.yaml
  playbooks/ansible-collection/run.yaml
  zuul.d/jobs.yaml
Due: none

Build ansible-collection in release job
  playbooks/ansible-collection/run.yaml
  zuul.d/jobs.yaml
Due: none
