Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: centos-8-1vcpu-aws

Add noop jobs to ansible-network/yang repo
  zuul.d/projects.yaml
Due: none

Retire ansible-network/yang project
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add default branch to pylibssh
  zuul.d/projects.yaml
Due: none

vmware_rest: enable publish-to-automation-hub
  zuul.d/projects.yaml
Due: none

cloud.common: add publish-to-automation-hub
  zuul.d/projects.yaml
Due: none

apply the new template on cloud.common
  zuul.d/projects.yaml
Due: none

Enabling ansible-network.yang to update readme
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add ansible.network collection
  github/acls/ansible-collections/ansible.network.cfg
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Added config for community.molecule collection
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Enable community.molecule releases
  zuul.d/projects.yaml
Due: none

Fix typo with ansible.network acl
  github/acls/ansible-collections/ansible.network.config
Due: none

Add ansible-collections/ansible.network jobs
  zuul.d/projects.yaml
Due: none

ansible-builder: Add ansible-tox-py36 jobs
  zuul.d/projects.yaml
Due: none

Revert "ansible-builder: Add ansible-tox-py36 jobs"
  zuul.d/projects.yaml
Due: none

Drop templates from molecule-vagrant
  zuul.d/projects.yaml
Due: none

Create release-ansible-collection-announcement job
  playbooks/ansible-collection/twitter.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

community.postgresql - tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

community.postgresql - project
  zuul.d/projects.yaml
Due: none

community.routeros - tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

community.routeros - project
  zuul.d/projects.yaml
Due: none

vmwware_rest_code_generator: associate template
  zuul.d/projects.yaml
Due: none

vmware_rest_code_generator: use the right template
  zuul.d/projects.yaml
Due: none

docker tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

docker project
  zuul.d/projects.yaml
Due: none

Enabling ansible.utils collection
  github/acls/ansible-collections/ansible.utils.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add ansible.network job
  zuul.d/projects.yaml
Due: none

Remove EducationSwing/zuul-test from zuul
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add jobs for ansible.utils
  zuul.d/projects.yaml
Due: none

Add unit test jobs
  zuul.d/projects.yaml
Due: none

On board ansible.utils project
  zuul.d/projects.yaml
Due: none

Fix twitter release job
  playbooks/ansible-collection/twitter.yaml
Due: none

Onboard rest of ansible.utils jobs
  zuul.d/projects.yaml
Due: none

Enable unit testing for community.yang
  zuul.d/projects.yaml
Due: none

Fix typo in twitter release job
  playbooks/ansible-collection/twitter.yaml
Due: none

Fix another typo in twitter release job
  playbooks/ansible-collection/twitter.yaml
Due: none

Remove python jobs for ansible.utils
  zuul.d/projects.yaml
Due: none

Add ansible.utils integration job
  zuul.d/projects.yaml
Due: none

base-minimal-test: update ara_report_path value
  zuul.d/jobs.yaml
Due: none

Promote base-minimal-test change
  zuul.d/jobs.yaml
Due: none

added 'community.kubevirt'
  zuul/tenants.yaml
Due: windmill-config-deploy

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
