Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: fedora-latest-1vcpu

Publish cisco.ios to automation hub
  zuul.d/projects.yaml
Due: none

Publish junipernetworks.junos to automation hub
  zuul.d/projects.yaml
Due: none

Add all community collections
  zuul.d/projects.yaml
Due: none

sops & internal_test_tools
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

ansible-builder: Sync job verification between pyproject and ssetuppy
  zuul.d/projects.yaml
Due: none

README: How to on-board
  README.rst
Due: none

Add c.internal_test_tools and c.sops
  zuul.d/projects.yaml
Due: none

Add ansible-collections/symantec.epm to zuul tenant
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add gate jobs for ansible-collections/symantec.epm
  zuul.d/projects.yaml
Due: none

Create semaphore for ansible automation hub
  zuul.d/jobs.yaml
  zuul.d/semaphore.yaml
Due: none

Add more jobs to symantic.epm
  zuul.d/projects.yaml
Due: none

Switch to publish-to-galaxy-3pci project-template
  zuul.d/projects.yaml
Due: none

Add more jobs to community.asa
  zuul.d/projects.yaml
Due: none

Add more jobs for community.asa
  zuul.d/projects.yaml
Due: none

DNM: test AWS
  zuul.d/jobs.yaml
Due: none

add hetzner.hcloud tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

Move community.aws to 3pci
  zuul.d/projects.yaml
Due: none

Add hetzner.hcloud collection publish
  zuul.d/projects.yaml
Due: none

archive CP repo
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Start renaming of receptor to python-receptor
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Finish the receptor rename
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Use proper regular expressions for semantic versioning (without build suffix).
  zuul.d/pipelines.yaml
Due: none

AWS collections use projects, enable in project config
  github/projects.yaml
Due: project-config-tox-github

pulp_installer: Introduce new repository
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Pulp: Set two integration jobs for pulp-installer
  zuul.d/projects.yaml
Due: none

ansible.posix: default branch is now main
  zuul.d/projects.yaml
Due: none

Add support to change default-branch for github projects
  github/projects.yaml
  tools/manage-projects.py
Due: project-config-tox-github

community.proxysql tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

Fix projects that don't have master default-branch
  github/projects.yaml
Due: project-config-tox-github

Update ibm.qradar default-branch to main
  zuul.d/projects.yaml
Due: none

Add default-branch check for zuul projects
  tools/zuul-projects-checks.py
Due: none

projects.yaml: add a warning header
  github/projects.yaml
Due: project-config-tox-github

change default branch for ansible.posix to main
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Initial support to manage branch protections
  github/acls/ansible-network/sandbox.config
  github/projects.yaml
  tools/manage-projects.py
Due: project-config-tox-github

Update default-branch for symantec.epm
  github/acls/ansible-collections/symantec.epm.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

community.proxysql project
  zuul.d/projects.yaml
Due: none

drop duplicated entry in zuul.d/projects.yaml
  zuul.d/projects.yaml
Due: none

Retarget AWS collections to branch `main`
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Fix exception in new acl-config logic
  tools/manage-projects.py
Due: project-config-tox-github

We can also do acls now
  github/acls/ansible-collections/amazon.aws.config
  github/projects.yaml
Due: project-config-tox-github

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
