Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: fedora-latest-1vcpu

Remove more pipeline failures to mysql
  zuul.d/pipelines.yaml
Due: none

Set release-ansible-python job to centos-8
  playbooks/publish/pypi.yaml
  zuul.d/jobs.yaml
Due: none

Install twine into virtualenv for pypi-upload job
  playbooks/publish/pypi.yaml
  zuul.d/jobs.yaml
Due: none

Fix typo in pypi publish job
  playbooks/publish/pypi.yaml
Due: none

Update release-ansible-python to publish to pypi.org
  zuul.d/jobs.yaml
Due: none

Add publish-to-pypi to molecule-libvirt
  zuul.d/projects.yaml
Due: none

ansible-runner: attaching new job templates
  zuul.d/projects.yaml
Due: none

Add molecule-containers project
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

add virt-lightning/esxi-cloud-images in Zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

ansible-runner: devel is the new default branch
  zuul.d/projects.yaml
Due: none

Revert "add virt-lightning/esxi-cloud-images in Zuul"
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add ansible-network/ansible_collections.community.vmware to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

import ansible_collections.community.vmware
  zuul.d/projects.yaml
Due: none

Add auto_init to new projects we create
  tools/manage-projects.py
Due: project-config-tox-github

Create network collections for ansible-collections
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

add Ansible team repositories
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Rename ansible-network/ansible_collections.arista.eos
  zuul.d/projects.yaml
Due: none

Rename ansible-network/ansible_collections.ansible.netcommon
  zuul.d/projects.yaml
Due: none

cisco_asa collections
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

fix reviews
  zuul.d/projects.yaml
Due: none

fix errors
  zuul.d/projects.yaml
Due: none

asa collection
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

added in #338
  zuul/tenants.yaml
Due: windmill-config-deploy

Rename ansible-network/ansible_collections.cisco.ios
  zuul.d/projects.yaml
Due: none

Rename ansible-network/ansible_collections.cisco.iosxr
  zuul.d/projects.yaml
Due: none

Rename ansible-network/ansible_collections.cisco.nxos
  zuul.d/projects.yaml
Due: none

Rename ansible-network/ansible_collections.junipernetworks.junos
  zuul.d/projects.yaml
Due: none

Rename ansible-network/ansible_collections.vyos.vyos
  zuul.d/projects.yaml
Due: none

Enabled last 4 molecule drivers
  zuul/tenants.yaml
Due: windmill-config-deploy

Add 4 molecule drivers to projects
  github/projects.yaml
Due: project-config-tox-github

Remove ansible-collection-migration/ansible-minimal
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Remove old ansible-network collections
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add ansible-collection-migration/ansible-base to zuul
  zuul/tenants.yaml
Due: windmill-config-deploy

Set default-branch for ansible-collection-migration/ansible-base
  zuul.d/projects.yaml
Due: none

Add molecule-goss project
  github/projects.yaml
Due: project-config-tox-github

Update network collections to use publish-to-galaxy
  zuul.d/projects.yaml
Due: none

Add molecule-goss project to tenants
  zuul/tenants.yaml
Due: windmill-config-deploy

Enable zuul integration jobs on molecule drivers
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Add molecule-lxd project to tenants
  zuul/tenants.yaml
Due: windmill-config-deploy

define github.com/ansible-collections/vmware project
  zuul.d/projects.yaml
Due: none

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
