Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml

Add jobs for ansible_collections.junipernetworks.junos
  zuul.d/projects.yaml
Due: none

Clean up absolute projects
  zuul.d/projects.yaml
Due: none

More cleanup
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add ansible-network/collection_migration into zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add noop jobs to ansible-network/collection_migration
  zuul.d/projects.yaml
Due: none

Added molecule related projects to Zuul
  zuul/tenants.yaml
Due: windmill-config-deploy

Remove metal3-io/metal3-dev-env
  zuul/tenants.yaml
Due: windmill-config-deploy

Make molecule related projects trusted
  zuul/tenants.yaml
Due: windmill-config-deploy

Correct pending status-url
  zuul.d/pipelines.yaml
Due: none

Add noop-jobs for projects under pycotribs
  zuul.d/projects.yaml
Due: none

Remove github.com/pabelanger/pabelanger-sandbox1
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Add system-required to ansible-security projects
  zuul.d/projects.yaml
Due: none

Improve check_system_templates() for zuul.d/projects.yaml
  tools/zuul-projects-checks.py
Due: none

Add system-required project-template to molecule projects
  zuul.d/projects.yaml
Due: none

Remove noop jobs from ansible-network/network_collections_migration
  zuul.d/projects.yaml
Due: none

Add molecule driver projects
  zuul/tenants.yaml
Due: windmill-config-deploy

Remove pycontribs/pytest-molecule
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Disabled missing molecule-* repositories
  zuul/tenants.yaml
Due: windmill-config-deploy

Add ansible-collections-cisco-iosxr-netconf to ansible.netcommon
  zuul.d/projects.yaml
Due: none

Prepare to retire obsolete collection repos
  zuul.d/projects.yaml
Due: none

Manage ansible-community/molecule* projcts
  github/projects.yaml
Due: project-config-tox-github

Add ansible-network/ansible_collections.junipernetworks.junos to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add jobs to junipernetworks.junos collection
  zuul.d/projects.yaml
Due: none

Add ansible-collections-juniper-junos-netconf to ansible.netcommon
  zuul.d/projects.yaml
Due: none

Add ansible/pylibssh to ansible tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

Prepare to retire ansible-network/ansible_collections.juniper.junos
  zuul.d/projects.yaml
Due: none

Retire ansible-network/ansible_collections.juniper.junos
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Prepare to retire ansible-network/network_content_collector
  zuul.d/projects.yaml
Due: none

Add system-required to molecule community projects
  zuul.d/projects.yaml
Due: none

Update github status-url across the board
  zuul.d/pipelines.yaml
Due: none

Switch jobs to centos-8 over fedora-latest
  zuul.d/jobs.yaml
Due: none

Remove ansible/molecule from zuul
  zuul/tenants.yaml
Due: windmill-config-deploy

Add ansible-community/molecule to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add system-required to ansible-community/molecule
  zuul.d/projects.yaml
Due: none

Workshops: Adding functional deployment testing
  zuul.d/projects.yaml
Due: none

ansible-runner: New publish-to-pypi template
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
  zuul.d/secrets.yaml
Due: none

Add release-ansible-python job
  playbooks/publish/pypi.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Update release-ansible-python job
  playbooks/build-python-tarball/post.yaml
  playbooks/build-python-tarball/pre.yaml
  playbooks/build-python-tarball/run.yaml
  zuul.d/jobs.yaml
Due: none

Update testpypi_secret info for testpypi
  playbooks/publish/pypi.yaml
  zuul.d/secrets.yaml
Due: none
