Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: fedora-latest-1vcpu

Fix typo with ansible-collections release job
  playbooks/ansible-collection/run.yaml
Due: none

Add post-run playbook for release-ansible-galaxy-collections
  playbooks/ansible-collection/post.yaml
  zuul.d/jobs.yaml
Due: none

Display stats on collections tarballs
  playbooks/ansible-collection/post.yaml
Due: none

Add linters jobs to ansible-network/releases
  zuul.d/projects.yaml
Due: none

Dynamically version our collections based on git info
  playbooks/ansible-collection/run-pre.yaml
  zuul.d/jobs.yaml
Due: none

Fix typo in previous commit
  playbooks/ansible-collection/run-pre.yaml
Due: none

Attempt to publish ansible-galaxy collections
  playbooks/publish/ansible-galaxy.yaml
  zuul.d/jobs.yaml
Due: none

Fix typo with publish/ansible-galaxy.yaml
  playbooks/publish/ansible-galaxy.yaml
Due: none

Set release-ansible-collection jobs to use ansible 2.9
  zuul.d/jobs.yaml
Due: none

Add release-ansible-collection-galaxy-dev job
  zuul.d/jobs.yaml
Due: none

Finalize release-ansible-collection-galaxy job
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Publish vyos.vyos collection to ansible galaxy
  zuul.d/projects.yaml
Due: none

Add ansible-security/ansible_collections.ibm.qradar to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Publish all network collections to galaxy
  zuul.d/projects.yaml
Due: none

Use publish-to-galaxy-master-only job for network collections
  zuul.d/projects.yaml
Due: none

Add ansible-network/network_collections_migration to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add noop jobs for ansible-security/ansible_collections.ibm.qradar
  zuul.d/projects.yaml
Due: none

Publish qradar collections to galaxy
  zuul.d/projects.yaml
Due: none

Add noop jobs to ansible-network/network_collections_migration
  zuul.d/projects.yaml
Due: none

Add ansible-community/collection_migration to zuul
  zuul/tenants.yaml
Due: windmill-config-deploy

Add ansible-network/community.netcommon
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add jobs to ansible-network/community.netcommon
  zuul.d/projects.yaml
Due: none

Create build-ansible-collection-galaxy job
  zuul.d/jobs.yaml
Due: none

Remove abstract on build-ansible-collection job
  zuul.d/jobs.yaml
Due: none

Return collection artifact to zuul
  playbooks/ansible-collection/post.yaml
Due: none

Move collection tarballs into log folder
  playbooks/ansible-collection/post.yaml
Due: none

Add more info into collection artifact
  playbooks/ansible-collection/post.yaml
Due: none

Fix syntax errors
  playbooks/ansible-collection/post.yaml
Due: none

prepare-workspace-git only on controller node
  playbooks/base-minimal-test/pre.yaml
  playbooks/base-minimal/pre.yaml
Due: none

Add new build-ansible-collections job
  playbooks/build-ansible-collections/post.yaml
  playbooks/build-ansible-collections/pre.yaml
  playbooks/build-ansible-collections/run.yaml
  zuul.d/jobs.yaml
Due: none

Refactor build-ansible-collection job
  playbooks/build-ansible-collection/post.yaml
  playbooks/build-ansible-collection/pre.yaml
  playbooks/build-ansible-collection/run.yaml
  zuul.d/jobs.yaml
Due: none

Switch ibm.qradar collection to publish-to-galaxy
  zuul.d/projects.yaml
Due: none

Add ansible/galaxy to zuul ansible tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

Add ansible/workshops to zuul ansible tenant
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

ansible/workshops: Make zuul vote as 3rd party CI
  zuul.d/projects.yaml
Due: none

Switch to ansible-collection-migration/ansible-minimal
  zuul/tenants.yaml
Due: windmill-config-deploy

Add default branch for ansible-collection-migration/ansible-minimal
  zuul.d/projects.yaml
Due: none

Add ansible-network/ansible_collections.ansible.netcommon to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add jobs for ansible_collections.ansible.netcommon
  zuul.d/projects.yaml
Due: none

Add network collections into integrated queue
  zuul.d/projects.yaml
Due: none

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
