Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml

Allow for empty status checks in github acls
  tools/manage-projects.py
Due: project-config-tox-github

Fix another bug with acl-config
  tools/manage-projects.py
Due: project-config-tox-github

Rename openvswitch.openvswitch default-branch
  github/acls/ansible-collections/openvswitch.openvswitch.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

ansible-runner should default to py3
  zuul.d/projects.yaml
Due: none

Update default-branch for community.asa to main
  github/acls/ansible-collections/community.asa.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

switch default branch of vmware collection
  github/acls/ansible-collections/vmware.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

digitalocean tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

digitalocean project
  zuul.d/projects.yaml
Due: none

Update ansible-collections/arista.eos default branch
  github/acls/ansible-collections/arista.eos.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Update default-branch for cisco.asa
  github/acls/ansible-collections/cisco.asa.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Update default-branch for cisco.ios
  github/acls/ansible-collections/cisco.ios.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Update default-branch for cisco.iosxr
  github/acls/ansible-collections/cisco.iosxr.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Update default-branch for cisco.nxos
  github/acls/ansible-collections/cisco.nxos.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Update default-branch for junipernetworks.junos
  github/acls/ansible-collections/junipernetworks.junos.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Update default-branch for frr.frr
  github/acls/ansible-collections/frr.frr.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

community.mysql tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

community.mysql project
  zuul.d/projects.yaml
Due: none

Update default-branch for ansible.netcommon
  github/acls/ansible-collections/ansible-netcommon.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Fix type with ansible.netcommon acls
  github/acls/ansible-collections/ansible.netcommon.config
Due: none

Update default-branch for vyos.vyos
  github/acls/ansible-collections/vyos.vyos.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Add arista.eos to ansible.netcommon collection
  zuul.d/projects.yaml
Due: none

Set tox_envlist: venv for tox role
  playbooks/ansible-collection/run-pre.yaml
  playbooks/build-ansible-collection/run.yaml
Due: none

build-ansible-collection: ability to prepare env
  playbooks/build-ansible-collection/run.yaml
Due: none

add generate-and-build-ansible-collection
  playbooks/generate-ansible-collection/pre.yaml
  zuul.d/jobs.yaml
Due: none

Revert "add generate-and-build-ansible-collection"
  playbooks/generate-ansible-collection/pre.yaml
  zuul.d/jobs.yaml
Due: none

Add cisco.asa jobs to ansible.netcommon
  zuul.d/projects.yaml
Due: none

Revert "Add cisco.asa jobs to ansible.netcommon"
  zuul.d/projects.yaml
Due: none

add new ansible-runner jobs
  zuul.d/projects.yaml
Due: none

vmware_rest default branch is now main
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

vmware-rest: use the new dedicated template
  zuul.d/projects.yaml
Due: none

community.okd tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

community.okd project
  zuul.d/projects.yaml
Due: none

Rotate automation hub token
  zuul.d/secrets.yaml
Due: none

Add cisco.ios jobs to ansible.netcommon
  zuul.d/projects.yaml
Due: none

Send email on release pipeline failures
  zuul.d/pipelines.yaml
Due: none

Test we can send an email on post pipelines
  zuul.d/pipelines.yaml
Due: none

Revert "Test we can send an email on post pipelines"
  zuul.d/pipelines.yaml
Due: none

Add ansible-collections-juniper-junos jobs to ansible.netcommon
  zuul.d/projects.yaml
Due: none

Also email successful jobs in release pipeline
  zuul.d/pipelines.yaml
Due: none

Add vyos.vyos jobs to ansible.netcommon
  zuul.d/projects.yaml
Due: none
