Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: fedora-latest-1vcpu

add github.com/ansible-collections/vmware_rest
  zuul.d/projects.yaml
Due: none

remove ansible-network/ansible_collections.community.vmware
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add ansible-collections/openvswitch repo to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add system-required to ansible-collections/openvswitch
  zuul.d/projects.yaml
Due: none

Add jobs to ansible-collections/openvswitch
  zuul.d/projects.yaml
Due: none

Zuul: Onboard project-receptor/receptor
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Receptor: Fix zuul description
  github/projects.yaml
Due: project-config-tox-github

Receptor: Assign templates jobs
  zuul.d/projects.yaml
Due: none

Add ansible-collections-openvswitch-openvswitch to openvswitch
  zuul.d/projects.yaml
Due: none

Add support for ansible-collections/skydive
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add ansible-collections/skydive testing
  zuul.d/projects.yaml
Due: none

Add ansible-collections/frr to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add jobs to ansible-collections/frr
  zuul.d/projects.yaml
Due: none

Add ansible-collections/checkpoint to zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add jobs to ansible-collections/checkpoint
  zuul.d/projects.yaml
Due: none

Add ansible-lint project
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable checks API for check pipeline
  zuul.d/pipelines.yaml
Due: none

No longer report comments or status on check pipeline
  zuul.d/pipelines.yaml
Due: none

Revert "No longer report comments or status on check pipeline"
  zuul.d/pipelines.yaml
Due: none

Remove comments from check pipeline
  zuul.d/pipelines.yaml
Due: none

Use checks API for gate pipeline
  zuul.d/pipelines.yaml
Due: none

Update third-party-check to use checks API
  zuul.d/pipelines.yaml
Due: none

Remove ansible-tox-jobs from ansible-collections/vyos
  zuul.d/projects.yaml
Due: none

Revert "Remove ansible-tox-jobs from ansible-collections/vyos"
  zuul.d/projects.yaml
Due: none

Add back status info for gate
  zuul.d/pipelines.yaml
Due: none

Add jobs to ansible-collections/asa
  zuul.d/projects.yaml
Due: none

Add ansible-lint to zuul for 3pci
  zuul/tenants.yaml
Due: windmill-config-deploy

Enable ansible-collections-cisco-asa jobs
  zuul.d/projects.yaml
Due: none

Add third-party-check for ansible-lint
  zuul.d/projects.yaml
Due: none

vmware: use squash-merge strategy
  zuul.d/projects.yaml
Due: none

try merge-mode: squash-merge on sandbox
  zuul.d/projects.yaml
Due: none

Allow squash merging for projects
  tools/manage-projects.py
Due: project-config-tox-github

ansible/workshops: Have the functional test run by zuul
  playbooks/workshops/run.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

ansible/workshops: Run the workshop functional jobs
  zuul.d/projects.yaml
Due: none

workshops: Fix the way we handle creds
  playbooks/workshops/run.yaml
Due: none

Switch base-minimal-test to use centos-8-1vcpu
  zuul.d/jobs.yaml
Due: none

workshops: Run tests on centos-8 runner
  zuul.d/jobs.yaml
Due: none

Revert "ansible/workshops: Run the workshop functional jobs"
  zuul.d/projects.yaml
Due: none

workshops: Use proper ini key for aws credentials
  playbooks/workshops/run.yaml
Due: none

workshops: Add a non --strip version of the tower license
  zuul.d/secrets.yaml
Due: none

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
