Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-changelog-fragment, project-config-tox-github, windmill-config-deploy

ansible-changelog-fragment:
  description: Ensure PRs have generated changelog fragments.
  run: playbooks/ansible-changelog-fragment/run.yaml
  nodeset:
    nodes: []

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: centos-8-1vcpu

remove py27 from network-runner jobs
  zuul.d/projects.yaml
Due: none

Add README.rst for repo / branch protection creation
  github/README.rst
Due: none

adding ansible_content_collections_metrics
  github/acls/ansible-network/ansible_content_collections_metrics.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add acl-config setting for ansible_content_collections_metrics
  github/projects.yaml
Due: project-config-tox-github

updating header
  github/README.rst
Due: none

Add ansible-navigator project
  github/acls/ansible/ansible-navigator.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Revert "Add ansible-navigator project"
  github/acls/ansible/ansible-navigator.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Revert "Revert "Add ansible-navigator project""
  github/acls/ansible/ansible-navigator.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add project-template for ansible-navigator
  zuul.d/projects.yaml
Due: none

Add ansible-navigator-jobs
  zuul.d/projects.yaml
Due: none

Update pre-release regex to support python version semantics
  zuul.d/pipelines.yaml
Due: none

nav squash
  zuul.d/projects.yaml
Due: none

Reorder to match other projects
  zuul.d/projects.yaml
Due: none

Added 'servicenow.itsm' to tenants
  zuul/tenants.yaml
Due: windmill-config-deploy

Minor change in servicenow.itsm tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

Added 'servicenow.itsm' in projects
  github/acls/ansible-collections/servicenow.itsm.config
  zuul.d/projects.yaml
Due: none

doc: add a not about windmill-config-deploy
  README.rst
Due: none

Remove ssh-key related forks from roles
  playbooks/base-minimal-test/pre.yaml
  roles/add-build-sshkey-fork/README.rst
  roles/add-build-sshkey-fork/tasks/create-key-and-replace.yaml
  roles/add-build-sshkey-fork/tasks/main.yaml
  roles/add-build-sshkey-fork/tasks/remote-linux.yaml
  roles/add-build-sshkey-fork/tasks/remote-windows.yaml
  roles/add-build-sshkey-fork/vars/main.yaml
  roles/remove-build-sshkey-fork/README.rst
  roles/remove-build-sshkey-fork/tasks/main.yaml
  roles/remove-build-sshkey-fork/vars/main.yaml
Due: none

Remove fork role from base-minimal-test
  playbooks/base-minimal-test/post-ssh.yaml
Due: none

Add sanity test for servicenow.itsm
  zuul.d/projects.yaml
Due: none

Generate both RSA and ECDSA keys
  playbooks/base-minimal/pre.yaml
Due: none

Add community.dns.
  zuul/tenants.yaml
Due: windmill-config-deploy

Allow to publish community.dns.
  zuul.d/projects.yaml
Due: none

Set squash-merge for ansible/ansible-zuul-jobs
  zuul.d/projects.yaml
Due: none

Add ansible/ansible-zuul-jobs to github manage
  github/acls/ansible/ansible-zuul-jobs.config
  github/projects.yaml
Due: project-config-tox-github

ansible-core-ci: use prod env
  playbooks/ansible-core-ci/pre.yaml
Due: none

AWS: enable Zuul Gating
  github/acls/ansible-collections/community.aws.config
Due: none

Add ansible.network to integrated-queue
  zuul.d/projects.yaml
Due: none

refactor ansible-changelog-fragment check
  playbooks/ansible-changelog-fragment/run.yaml
Due: none

move all tasks from playbook to a dedicated role
  playbooks/ansible-changelog-fragment/run.yaml
  roles/check_changelog_fragment/defaults/main.yml
  roles/check_changelog_fragment/tasks/main.yml
Due: none

apply @goneri suggestions (doc url + no change no fail)
  roles/check_changelog_fragment/defaults/main.yml
  roles/check_changelog_fragment/tasks/main.yml
Due: none

reverse PR 772
  playbooks/ansible-changelog-fragment/run.yaml
  roles/check_changelog_fragment/defaults/main.yml
  roles/check_changelog_fragment/tasks/main.yml
Due: none

isolate PR 772
  playbooks/ansible-changelog-fragment/run.yaml
  playbooks/ansible-changelog-fragment/run_with_check_changelog_fragment.yaml
  zuul.d/jobs.yaml
Due: none

ansible-changelog-fragment: get the default branch
  playbooks/ansible-changelog-fragment/run_with_check_changelog_fragment.yaml
Due: none

ansible-changelog-fragment: enable the job now
  playbooks/ansible-changelog-fragment/run.yaml
  playbooks/ansible-changelog-fragment/run_with_check_changelog_fragment.yaml
  zuul.d/jobs.yaml
Due: none

cleanup unneeded task, add a nodiff-related conditional, add comments
  roles/check_changelog_fragment/tasks/main.yml
Due: none

fix 'git diff' command and target branch variable
  playbooks/ansible-changelog-fragment/run.yaml
  roles/check_changelog_fragment/defaults/main.yml
  roles/check_changelog_fragment/tasks/main.yml
Due: none

test amazon.aws with the right template
  zuul.d/projects.yaml
Due: none

Set ssh key size as 2048 for rsa key
  playbooks/base-minimal-test/pre.yaml
Due: none

Path conditions:
  ansible-changelog-fragment: any of: ^plugins/.*$, ^tests/.*$
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
