Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-changelog-fragment, project-config-tox-github, windmill-config-deploy

ansible-changelog-fragment:
  description: Ensure PRs have generated changelog fragments.
  run: playbooks/ansible-changelog-fragment/run.yaml
  nodeset:
    nodes: []

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: centos-8-1vcpu

added 'community.kubevirt' project
  zuul.d/projects.yaml
Due: none

Add ansible-runner-container-image-jobs to ansible-runner
  zuul.d/projects.yaml
Due: none

Add ansible-collections/community.google repository
  zuul/tenants.yaml
Due: windmill-config-deploy

Revert "Add ansible-runner-container-image-jobs to ansible-runner"
  zuul.d/projects.yaml
Due: none

Add ansible-upload-container-image job
  playbooks/container-image/upload.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Removed trendmicro.deepsec jobs
  zuul.d/projects.yaml
Due: none

Add unit test jobs trendmicro.deepsec
  zuul.d/projects.yaml
Due: none

Add lgtm pipeline
  zuul.d/pipelines.yaml
Due: none

Remove status in lgtm pipeline
  zuul.d/pipelines.yaml
Due: none

hrobot tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

hrobot project
  zuul.d/projects.yaml
Due: none

Switch back to status for lgtm pipeline
  zuul.d/pipelines.yaml
Due: none

Add ansible-buildset-registry job
  playbooks/buildset-registry/post.yaml
  playbooks/buildset-registry/pre.yaml
  playbooks/buildset-registry/run.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Use zuul-registry to store images
  playbooks/buildset-registry/post.yaml
Due: none

Add ansible/galaxy_ng to ansible tenant
  zuul/tenants.yaml
Due: windmill-config-deploy

Add ansible-buildset-registry-consumer job
  zuul.d/jobs.yaml
Due: none

Add project for ansible-collections/community.google
  zuul.d/projects.yaml
Due: none

Add ansible/python-builder-image to ansible zuul tenant
  github/acls/ansible/python-builder-image.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add jobs to ansible/python-builder-image
  zuul.d/projects.yaml
Due: none

Add ansible-collections/community.hashi_vault repository
  zuul/tenants.yaml
Due: windmill-config-deploy

Add project for ansible-collections/community.hashi_vault
  zuul.d/projects.yaml
Due: none

Add ansible/python-base-image project
  github/acls/ansible/python-base-image.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add ansible/python-base-image jobs
  zuul.d/projects.yaml
Due: none

Update twitter announce grammar
  playbooks/ansible-collection/twitter.yaml
Due: none

Remove project-receptor/python-receptor jobs
  zuul.d/projects.yaml
Due: none

Create new repo for management of Network's AWS account
  github/acls/ansible-collections/aws_management.config
  github/projects.yaml
Due: project-config-tox-github

Add zuul app
  github/acls/ansible-collections/aws_management.config
Due: none

New aws_management repo. PR1
  zuul/tenants.yaml
Due: windmill-config-deploy

actually write valid yaml this time
  github/projects.yaml
Due: project-config-tox-github

Fix ACL location for ansible-network/aws_management
  github/acls/ansible-network/aws_management.config
Due: none

Fix syntax issue with aws_management.config
  github/acls/ansible-network/aws_management.config
Due: none

Remove acl-config from ansible-network/aws_management
  github/projects.yaml
Due: project-config-tox-github

Add jobs to ansible-network/aws_management
  zuul.d/projects.yaml
Due: none

Remove project-receptor/python-receptor from zuul
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add ansible/awx-ee to zuul
  github/acls/ansible/awx-ee.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add system-required project-template to ansible/awx-ee
  zuul.d/projects.yaml
Due: none

Add ansible/network-ee to zuul
  github/acls/ansible/network-ee.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Path conditions:
  ansible-changelog-fragment: any of: ^plugins/.*$, ^tests/.*$
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
