Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-changelog-fragment, project-config-tox-github, windmill-config-deploy

Path conditions:
  ansible-changelog-fragment: any of: ^plugins/.*$, ^tests/.*$
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml

Add gate jobs for ansible/network-ee
  zuul.d/projects.yaml
Due: none

Update homepage for ansible/python-builder-image on github
  github/projects.yaml
  tools/manage-projects.py
Due: project-config-tox-github

Fix bug with homepage setting
  tools/manage-projects.py
Due: project-config-tox-github

Add projects to execution-environment shared queue
  zuul.d/projects.yaml
Due: none

Homepage is a string, not None
  tools/manage-projects.py
Due: project-config-tox-github

Add quay.io links for a few projects
  github/projects.yaml
Due: project-config-tox-github

Remove usage of ansible-builder-projecttoml-and-setuppy-insync
  zuul.d/projects.yaml
Due: none

Create release-ansible-python-poetry job
  playbooks/build-python-tarball/run.yaml
  zuul.d/jobs.yaml
Due: none

Fix bug in release_poetry_project job
  playbooks/build-python-tarball/run.yaml
Due: none

Switch ansible/ansible-builder to use poetry release job
  zuul.d/projects.yaml
Due: none

Revert "Switch ansible/ansible-builder to use poetry release job"
  zuul.d/projects.yaml
Due: none

added 'community.fortios' to tenants
  zuul/tenants.yaml
Due: windmill-config-deploy

Add ansible/ansible-core-image to zuul
  github/acls/ansible/ansible-core-image.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Update homepage for ansible-core github
  github/projects.yaml
Due: project-config-tox-github

Gate ansible/ansible-core-image in zuul
  zuul.d/projects.yaml
Due: none

Add post jobs to ansible/ansible
  zuul.d/projects.yaml
Due: none

added 'community.fortios' project
  zuul.d/projects.yaml
Due: none

tenants: add ansible/cloud-ee
  zuul/tenants.yaml
Due: windmill-config-deploy

add ansible/cloud-ee project
  github/acls/ansible/cloud-ee.config
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

README: extend the list of the PR2 actions to do
  README.rst
Due: none

github/projects.yaml: use better values in the example
  github/projects.yaml
Due: project-config-tox-github

Remove requires: container-image
  zuul.d/jobs.yaml
Due: none

Add network-ee jobs to arista.eos collection
  zuul.d/projects.yaml
Due: none

Add ansible-runner-build-container-image-stable-2.9 to ansible/ansible
  zuul.d/projects.yaml
Due: none

Add ansible-runner container build job for ansible/ansible
  zuul.d/projects.yaml
Due: none

Add ansible-runner build image for ansible/ansible
  zuul.d/projects.yaml
Due: none

Allow jobs to toggle pulling from intermediate registry
  playbooks/buildset-registry/pre.yaml
Due: none

Revert "Allow jobs to toggle pulling from intermediate registry"
  playbooks/buildset-registry/pre.yaml
Due: none

Add network-ee jobs to ansible.utils
  zuul.d/projects.yaml
Due: none

Add network-ee jobs to cisco.ios collection
  zuul.d/projects.yaml
Due: none

Remove vexxhost for uploading logs
  playbooks/base-minimal-test/post-logs.yaml
Due: none

Promote base-minimal-test change
  playbooks/base-minimal/post-logs.yaml
Due: none

Rotate AH secret again
  zuul.d/secrets.yaml
Due: none

Install collections after build
  playbooks/build-ansible-collection/run.yaml
Due: none

Fixed empty lines
  playbooks/build-ansible-collection/run.yaml
Due: none

adding ecdsa key
  playbooks/base-minimal-test/pre.yaml
Due: none

created a fork of add-buil-sshkey role from opendev
  playbooks/base-minimal-test/pre.yaml
  roles/add-build-sshkey-fork/README.rst
  roles/add-build-sshkey-fork/tasks/create-key-and-replace.yaml
  roles/add-build-sshkey-fork/tasks/main.yaml
  roles/add-build-sshkey-fork/tasks/remote-linux.yaml
  roles/add-build-sshkey-fork/tasks/remote-windows.yaml
  roles/add-build-sshkey-fork/vars/main.yaml
Due: none
