Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-changelog-fragment, project-config-tox-github, windmill-config-deploy

ansible-changelog-fragment:
  description: Ensure PRs have generated changelog fragments.
  run: playbooks/ansible-changelog-fragment/run.yaml
  nodeset:
    nodes: []

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: centos-8-1vcpu

add ansible.network templaye
  zuul.d/projects.yaml
Due: none

Set rsa key size to 2048 in base-minimal
  playbooks/base-minimal/pre.yaml
Due: none

tenant: add vmware/vsphere-automation-sdk-python
  zuul/tenants.yaml
Due: windmill-config-deploy

Revert ansible-changelog changes
  playbooks/ansible-changelog-fragment/run.yaml
  roles/check_changelog_fragment/defaults/main.yml
  roles/check_changelog_fragment/tasks/main.yml
Due: none

search for a changelog fragment in the whole PR
  playbooks/ansible-changelog-fragment/run.yaml
Due: none

Add network-ee container jobs to frr.frr
  zuul.d/projects.yaml
Due: none

Add network-ee jobs to cisca.asa collection
  zuul.d/projects.yaml
Due: none

Add network-ee jobs to ansible.posix
  zuul.d/projects.yaml
Due: none

Reconfigure molecule-libvirt
  zuul.d/projects.yaml
Due: none

Add network-ee jobs to cloud.common
  zuul.d/projects.yaml
Due: none

Add network-ee jobs to servicenow.itsp
  zuul.d/projects.yaml
Due: none

ansible-core-ci.key rotation
  zuul.d/secrets.yaml
Due: none

Drop ansible 2.8 testing for ansible-runner
  zuul.d/projects.yaml
Due: none

ansible-navigator: publish-to-pypi
  zuul.d/projects.yaml
Due: none

Stop using venv for ansible-network/releases
  playbooks/ansible-collection/run-pre.yaml
  playbooks/ansible-collection/run.yaml
  playbooks/build-ansible-collection/run.yaml
Due: none

Fix typo in previous commit
  playbooks/ansible-collection/run-pre.yaml
  playbooks/ansible-collection/run.yaml
  playbooks/build-ansible-collection/run.yaml
Due: none

Don't run buildset-registry on appliances
  playbooks/buildset-registry/pre.yaml
  playbooks/buildset-registry/run.yaml
Due: none

Partial Revert "remove ansible post jobs"
  zuul.d/projects.yaml
Due: none

anisble-python-jobs added to ansible.network
  zuul.d/projects.yaml
Due: none

community.kubernetes: apply the job template
  zuul.d/projects.yaml
Due: none

define the kubernetes.core project
  zuul/tenants.yaml
Due: windmill-config-deploy

set publish-to-galaxy-3pci on k8s.core
  zuul.d/projects.yaml
Due: none

okd: apply the templates
  zuul.d/projects.yaml
Due: none

Add ansible-network/releases to github/projects.yaml
  github/acls/ansible-network/releases.config
  github/projects.yaml
Due: project-config-tox-github

Update splunk.es to use main as default branch
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Add ansible-changelog-fragment2 job
  playbooks/ansible-changelog-fragment/run2.yaml
  zuul.d/jobs.yaml
Due: none

Promote changelog-fragment fix
  playbooks/ansible-changelog-fragment/run.yaml
  playbooks/ansible-changelog-fragment/run2.yaml
  zuul.d/jobs.yaml
Due: none

community.ciscosmb project
  zuul/tenants.yaml
Due: windmill-config-deploy

community.ciscosmb to publish on Galaxy via Zuul
  zuul.d/projects.yaml
Due: none

Move
  zuul/tenants.yaml
Due: windmill-config-deploy

Update irc server
  README.rst
Due: none

enable sec meta
  github/acls/ansible-collections/ansible.security.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

update sec meta
  zuul.d/projects.yaml
Due: none

fix review
  zuul.d/projects.yaml
Due: none

fix error
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

fix 345
  zuul.d/projects.yaml
Due: none

fix error
  zuul.d/projects.yaml
Due: none

fix project
  zuul.d/projects.yaml
Due: none

remove all keeping SR
  zuul.d/projects.yaml
Due: none

update PR
  zuul.d/projects.yaml
Due: none

Path conditions:
  ansible-changelog-fragment: any of: ^plugins/.*$, ^tests/.*$
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
