Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-changelog-fragment, project-config-tox-github, windmill-config-deploy

Path conditions:
  ansible-changelog-fragment: any of: ^plugins/.*$, ^tests/.*$
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml

Revert "Add aap-azure-billing to zuul tenant"
  zuul/tenants.yaml
Due: windmill-config-deploy

Remove ansible-test-network-integration template from ansible/ansible
  zuul.d/projects.yaml
Due: none

Add ansible-network/k8s-node-pool-config
  github/acls/ansible-network/k8s-node-pool-config.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Switch a few more jobs to centos-8-stream
  zuul.d/jobs.yaml
Due: none

Disable github ansible-builder
  github/projects.yaml
Due: project-config-tox-github

Fix branch name for k8s-node-pool-config
  github/acls/ansible-network/k8s-node-pool-config.config
Due: none

ansible: max-job-timeout 4h
  zuul/tenants.yaml
Due: windmill-config-deploy

ansible-zuul-jobs: load config from zuul.ansible.d/ too
  zuul/tenants.yaml
Due: windmill-config-deploy

extra-config-paths: Directories should be listed with a trailing /
  zuul/tenants.yaml
Due: windmill-config-deploy

zuul/tenants.yaml: add community.sap
  zuul/tenants.yaml
Due: windmill-config-deploy

zuul.d/projects.yaml: add community.sap Galaxy publishing
  zuul.d/projects.yaml
Due: none

move vmware.vmware_rest on SF
  zuul.d/projects.yaml
Due: none

AWS collections are now on the SF instance
  zuul.d/projects.yaml
Due: none

the vmware collections are now managed by the SF instance
  zuul.d/projects.yaml
Due: none

vmware.vmware_rest is a dep of network-ee-container-image-jobs
  zuul.d/projects.yaml
Due: none

c.aws is now on SF
  zuul.d/projects.yaml
Due: none

Remove ansible-runner project
  zuul.d/projects.yaml
Due: none

Revert "Remove ansible-runner project"
  zuul.d/projects.yaml
Due: none

Update ansible-runner jobs
  zuul.d/projects.yaml
Due: none

cloud.common is fully migrated
  zuul.d/projects.yaml
Due: none

amazon.aws is fully migrated
  zuul.d/projects.yaml
Due: none

Add ansible-collections-juniper-junos-netcommon-jobs template
  zuul.d/projects.yaml
Due: none

fix template name
  zuul.d/projects.yaml
Due: none

ara is migrated to new zuul, stop loading config
  zuul/tenants.yaml
Due: windmill-config-deploy

centos8 mirrors are down, add a quick workaround
  playbooks/base-minimal/pre.yaml
Due: none

Community collections are published from a new Zuul
  zuul.d/projects.yaml
Due: none

Update jobs.yaml
  zuul.d/jobs.yaml
Due: none

kubernetes.core is on SF now
  zuul.d/projects.yaml
Due: none

Update pre.yaml
  playbooks/base-minimal/pre.yaml
Due: none

removal of ovs jobs from netcommon project
  zuul.d/projects.yaml
Due: none

ansible.windows is now on SoftwareFactory
  zuul.d/projects.yaml
Due: none

servicenow.itsm is on SF now
  zuul.d/projects.yaml
Due: none

network-engine is on SF now
  zuul.d/projects.yaml
Due: none

ansible.posix is on SF now
  zuul.d/projects.yaml
Due: none

migrate skydive
  zuul.d/projects.yaml
Due: none

ids_{config,install} moved on SF
  zuul.d/projects.yaml
Due: none

disable ansible/cloud-ee
  zuul.d/projects.yaml
Due: none
