Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-tox-github, windmill-config-deploy

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: centos-8-1vcpu-aws

Fix typo with previous commit
  zuul.d/projects.yaml
Due: none

Bump post-timeout to 3600
  zuul.d/jobs.yaml
Due: none

Add community.kubernetes to tenants.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Add community.kubernetes to projects.yaml
  zuul.d/projects.yaml
Due: none

tenant: add cloud.common
  zuul/tenants.yaml
Due: windmill-config-deploy

add the cloud.common repository
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Remove cloud.common from integrated-queue
  zuul.d/projects.yaml
Due: none

Add ansible-changelog-fragment job
  playbooks/ansible-changelog-fragment/run.yaml
  zuul.d/jobs.yaml
Due: none

Fix typo with previous commit
  playbooks/ansible-changelog-fragment/run.yaml
Due: none

Fix executor source path for ansible-changelog-fragment
  playbooks/ansible-changelog-fragment/run.yaml
Due: none

Rework ansible-changelog-fragment playbook
  playbooks/ansible-changelog-fragment/run.yaml
Due: none

Fix typo in previous commit
  playbooks/ansible-changelog-fragment/run.yaml
Due: none

Add failed_when statement to ansible-changelog-fragment
  playbooks/ansible-changelog-fragment/run.yaml
Due: none

Fix typo in fail message
  playbooks/ansible-changelog-fragment/run.yaml
Due: none

Remove ansible-lint from zuul
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Add irrelevant-files to ansible-changelog-fragments
  zuul.d/jobs.yaml
Due: none

Add more irrelevant-files for ansible-changelog-fragments
  zuul.d/jobs.yaml
Due: none

Flip to job.files for ansible-changelog-fragment
  zuul.d/jobs.yaml
Due: none

Remove molecule projects from Zuul CI
  zuul.d/projects.yaml
Due: none

add vmware_rest_code_generator in tenants
  zuul/tenants.yaml
Due: windmill-config-deploy

configure the vmware_rest_code_generator project
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

add acl configuration for vmware_rest projects
  github/acls/ansible-collections/vmware_rest.config
  github/acls/ansible-collections/vmware_rest_code_generator.config
Due: none

Update README.rst
  README.rst
Due: none

Add community.yang
  github/acls/ansible-collections/community.yang.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

fix sort issue
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

define project for community.yang
  zuul.d/projects.yaml
Due: none

unit tests
  zuul.d/projects.yaml
Due: none

added tarball build job to yang collections
  zuul.d/projects.yaml
Due: none

removed wrong job
  zuul.d/projects.yaml
Due: none

removed publish to AH for yang collections
  zuul.d/projects.yaml
Due: none

define the vmware projects with the new names
  github/acls/ansible-collections/community.vmware.config
  github/acls/ansible-collections/vmware.vmware_rest.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

rename the vmware projects
  github/acls/ansible-collections/vmware.config
  github/acls/ansible-collections/vmware_rest.config
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add yang integration jobs
  zuul.d/projects.yaml
Due: none

removed ansible-network.yang
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add trendmicro.deepsec to CI
  github/acls/ansible-collections/trendmicro.deepsec.config
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Add project template for trendmicro.deepsec
  zuul.d/projects.yaml
Due: none

ensure git is installed in base-minimal
  playbooks/base-minimal/pre.yaml
Due: none

Add units to trendmicro.deepsec collection
  zuul.d/projects.yaml
Due: none

Remove molecule plugins from zuul
  github/projects.yaml
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Revert "removed ansible-network.yang"
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Path conditions:
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
