Repository ansible/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-changelog-fragment, project-config-tox-github, windmill-config-deploy

ansible-changelog-fragment:
  description: Ensure PRs have generated changelog fragments.
  run: playbooks/ansible-changelog-fragment/run.yaml
  nodeset:
    nodes: []

project-config-tox-github:
  parent: tox
  description: 'Runs checks on github-related configuration.  Uses ``github``
  
    tox env.
  
    '
  vars:
    tox_envlist: github
  nodeset: centos-8-1vcpu

Remove python3-jobs from ansible-builder
  zuul.d/projects.yaml
Due: none

Migrate build-ansible-collection to centos-8-stream
  zuul.d/jobs.yaml
Due: none

Added EE tests
  zuul.d/projects.yaml
Due: none

Revert "Reorder gate to see if sempahore works better"
  zuul.d/pipelines.yaml
Due: none

Revert "Remove check_run trigger for gate pipeline"
  zuul.d/pipelines.yaml
Due: none

Allow re-run of failure check jobs
  zuul.d/pipelines.yaml
Due: none

Add new pipeline to run aws complete ci in
  zuul.d/pipelines.yaml
Due: none

Remove py36/py37 jobs from ansible-builder
  zuul.d/projects.yaml
Due: none

amazon.aws: temp turn on the merge strategy
  zuul.d/projects.yaml
Due: none

Revert "amazon.aws: temp turn on the merge strategy"
  zuul.d/projects.yaml
Due: none

Rename pipeline to be generic and reusable
  zuul.d/pipelines.yaml
Due: none

Update pipeline based on review comments
  zuul.d/pipelines.yaml
Due: none

Remove experimental pipeline
  zuul.d/pipelines.yaml
Due: none

Remove merge-check pipeline
  zuul.d/pipelines.yaml
Due: none

adjust the default-branch of some repositories
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

use gh to compare Github branch configuration
  tools/zuul-projects-checks.py
Due: none

ansible-community/molecule uses main as default branch
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

remove ansible-community/molecule
  github/projects.yaml
  zuul/tenants.yaml
Due: project-config-tox-github, windmill-config-deploy

Enable community.okd at the new repo location
  zuul.d/projects.yaml
Due: none

Add community.okd to tenants
  zuul/tenants.yaml
Due: windmill-config-deploy

Add community.okd as a new project
  github/projects.yaml
  zuul.d/projects.yaml
Due: project-config-tox-github

Remove ansible-navigator-jobs
  zuul.d/projects.yaml
Due: none

Upgrade to ubuntu-bionic-2vcpu for buildset-registry
  zuul.d/jobs.yaml
Due: none

yamllint: ignore .git directory
  .yamllint
Due: none

github: openshift/community.okd is not managed by us
  github/projects.yaml
Due: project-config-tox-github

remove the old community.okd project
  zuul.d/projects.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Add community.healthchecksio to tenants.yaml
  zuul/tenants.yaml
Due: windmill-config-deploy

Add community.healthchecksio to zuul.d/projects.yaml
  zuul.d/projects.yaml
Due: none

Move
  zuul/tenants.yaml
Due: windmill-config-deploy

DNM
  zuul.d/projects.yaml
Due: none

Add ``publish-to-automation-hub`` for kubernetes.core and community.okd
  zuul.d/projects.yaml
Due: none

Disable network-ee-tests for kubernetes.core
  zuul.d/projects.yaml
Due: none

Apply suggested changes
  zuul.d/projects.yaml
Due: none

explain third-party-check is deprecated
  zuul.d/pipelines.yaml
Due: none

do not publish community.okd on AH
  zuul.d/projects.yaml
Due: none

update meta job template
  zuul.d/projects.yaml
Due: none

Remove jobs from ansible-builder
  zuul.d/projects.yaml
Due: none

Moving runner linter job to runner repo
  zuul.d/projects.yaml
Due: none

aws: use ansible-core-ci prod stage.
  roles/ansible-core-ci-session/defaults/main.yaml
Due: none

Created fork of emit-job-header role
  playbooks/base-minimal-test/pre.yaml
  roles/emit-job-header-fork/README.rst
  roles/emit-job-header-fork/tasks/main.yaml
Due: none

Path conditions:
  ansible-changelog-fragment: any of: ^plugins/.*$, ^tests/.*$
  project-config-tox-github: any of: github/projects.yaml, requirements.txt, test-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/manage-projects.py, tox.ini
  windmill-config-deploy: any of: zuul/tenants.yaml
